<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Sobre Nós</h1>
                    <ul class="breadcrumb-nav">
                        <li><a href="pagina-inicial">Página Inicial</a></li>
                        <li>Sobre Nós</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="features section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Innovara Labs
                    </h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        Por que escolher a Innovara Labs?
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Descubra os
                        motivos que fazem da Innovara Labs a escolha ideal para suas necessidades tecnológicas. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">

                <div class="single-featuer">
                    <img class="shape"
                        src="https://demo.graygrids.com/themes/eventgrids/assets/images/features/shape.svg" alt="#">
                    <img class="shape2"
                        src="https://demo.graygrids.com/themes/eventgrids/assets/images/features/shape2.svg" alt="#">
                    <span class="serial">01</span>
                    <div class="service-icon">
                        <i class="lni lni-microphone"></i>
                    </div>
                    <h3>Experiência Comprovada</h3>
                    <p>Com anos de atuação no mercado, a Innovara Labs possui uma vasta experiência em fornecer soluções
                        inovadoras e eficazes. </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="single-featuer">
                    <img class="shape"
                        src="https://demo.graygrids.com/themes/eventgrids/assets/images/features/shape.svg" alt="#">
                    <img class="shape2"
                        src="https://demo.graygrids.com/themes/eventgrids/assets/images/features/shape2.svg" alt="#">
                    <span class="serial">02</span>
                    <div class="service-icon">
                        <i class="lni lni-users"></i>
                    </div>
                    <h3>Inovação Contínua</h3>
                    <p>Investimos em pesquisa e desenvolvimento para trazer sempre as mais recentes tecnologias e
                        tendências para nossos clientes.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s"
                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="single-featuer">
                    <img class="shape"
                        src="https://demo.graygrids.com/themes/eventgrids/assets/images/features/shape.svg" alt="#">
                    <img class="shape2"
                        src="https://demo.graygrids.com/themes/eventgrids/assets/images/features/shape2.svg" alt="#">
                    <span class="serial">03</span>
                    <div class="service-icon">
                        <i class="lni lni-bullhorn"></i>
                    </div>
                    <h3>Atendimento Personalizado</h3>
                    <p>Oferecemos atendimento sob medida para entender suas necessidades e criar soluções que realmente
                        agreguem valor ao seu negócio.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="single-featuer">
                    <img class="shape"
                        src="https://demo.graygrids.com/themes/eventgrids/assets/images/features/shape.svg" alt="#">
                    <img class="shape2"
                        src="https://demo.graygrids.com/themes/eventgrids/assets/images/features/shape2.svg" alt="#">
                    <span class="serial">04</span>
                    <div class="service-icon">
                        <i class="lni lni-heart"></i>
                    </div>
                    <h3>Compromisso com a Qualidade</h3>
                    <p>Adotamos padrões de controle e práticas para garantir que nossos serviços superem
                        suas expectativas.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="single-featuer">
                    <img class="shape"
                        src="https://demo.graygrids.com/themes/eventgrids/assets/images/features/shape.svg" alt="#">
                    <img class="shape2"
                        src="https://demo.graygrids.com/themes/eventgrids/assets/images/features/shape2.svg" alt="#">
                    <span class="serial">05</span>
                    <div class="service-icon">
                        <i class="lni lni-cup"></i>
                    </div>
                    <h3>Equipe Especializada</h3>
                    <p>Nossa equipe é formada por profissionais altamente qualificados, dedicados a fornecer o melhor
                        suporte e resultados para você.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s"
                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="single-featuer">
                    <img class="shape"
                        src="https://demo.graygrids.com/themes/eventgrids/assets/images/features/shape.svg" alt="#">
                    <img class="shape2"
                        src="https://demo.graygrids.com/themes/eventgrids/assets/images/features/shape2.svg" alt="#">
                    <span class="serial">06</span>
                    <div class="service-icon">
                        <i class="lni lni-cup"></i>
                    </div>
                    <h3>Resultados Comprovados</h3>
                    <p>Temos um histórico de entregar resultados tangíveis e bem-sucedidos, com casos de sucesso e
                        clientes satisfeitos para comprovar.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12 wow fadeIn" data-wow-delay=".4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                <div class="about-image">
                    <div class="video-head wow fadeIn" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <a href="https://www.youtube.com/watch?v=Yf0rC7dERjg" class="glightbox video"><i
                                class="lni lni-play"></i></a>
                    </div>
                    <img src="/assets/img/innovara.png" alt="#">
                </div>
            </div>
            <div class="col-lg-6 col-12 wow fadeIn" data-wow-delay=".6s"
                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                <div class="content">
                    <h4>Innovara Labs</h4>
                    <h2>Sobre Nós</h2>
                    <p>Na Innovara Labs, estamos na vanguarda da tecnologia, criando soluções inovadoras que ajudam
                        nossos clientes a atingir seus objetivos e a transformar seus negócios.
                    </p>
                    <p>Com uma equipe de
                        especialistas apaixonados e dedicados, fornecemos serviços e produtos que desafiam o status quo
                        e redefinem o futuro.
                    </p>
                    <div class="date">
                        <h4><span>25th</span> December’ 2023</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sponsors section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Patrocinadores</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Nossos
                        patrocinadores oficiais
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Descubra as
                        empresas e organizações que tornam nossos eventos possíveis. Agradecemos a cada um de nossos
                        patrocinadores pelo apoio contínuo e pelo compromisso em promover a inovação e o sucesso.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <a href="javascript:void(0)" class="single-sponsor">
                    <img src="/assets/img/logo-patrocinador.jpg" alt="#">
                </a>
                <a href="javascript:void(0)" class="single-sponsor">
                    <img src="/assets/img/logo-patrocinador.jpg" alt="#">
                </a>
                <a href="javascript:void(0)" class="single-sponsor">
                    <img src="/assets/img/logo-patrocinador.jpg" alt="#">
                </a>
                <a href="javascript:void(0)" class="single-sponsor">
                    <img src="/assets/img/logo-patrocinador.jpg" alt="#">
                </a>
                <a href="javascript:void(0)" class="single-sponsor">
                    <img src="/assets/img/logo-patrocinador.jpg" alt="#">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="call-action overlay style2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8 col-12">
                <div class="inner-content">
                    <div class="text">
                        <h5>Innovara</h5>
                        <h2>Resultados Comprovados e Sucesso Garantido
                        </h2>
                        <p>Temos um histórico de entregar resultados tangíveis e bem-sucedidos, com casos de sucesso e
                            clientes satisfeitos para comprovar.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-12">
                <div class="button">
                    <a href="#" class="btn">Saiba Mais<i class="lni lni-bolt"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>