<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-footer f-about">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/images/logo/dark-logo.svg" alt="#">
                                </a>
                            </div>
                            <p>Transformando ideias em inovações que moldam o futuro.</p>
                            <span class="social-title">
                                Siga-nos:
                            </span>
                            <ul class="social">
                                <li>
                                    <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>Links relevantes</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Página Inicial</a></li>
                                <li><a href="javascript:void(0)">Sobre Nós</a></li>
                                <li><a href="javascript:void(0)">Projetos</a></li>
                                <li><a href="javascript:void(0)">Contato</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h3>Agir Agora</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Java</a></li>
                                <li><a href="javascript:void(0)">Desenvolvimento Web</a></li>
                                <li><a href="javascript:void(0)">Desenvolvimento Mobile</a></li>
                                <li><a href="javascript:void(0)">Banco de Dados</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-footer newsletter">
                            <h3>Inscreva-se para receber nossas notícias</h3>
                            <form action="#" method="get" target="_blank" class="newsletter-form">
                                <input name="name" placeholder="Nome" required="required" type="text">
                                <input name="email" placeholder="E-mail" required="required" type="email">
                                <div class="button">
                                    <button class="btn">Inscrever
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Top -->
    <!-- Start Copyright Area -->
    <div class="copyright">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-12">
                        <p class="copyright-text">Designed and Developed by <a href="https://graygrids.com/" rel="nofollow" target="_blank">GrayGrids</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright Area -->
</footer>